@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --font-base: 'Cormorant Upright', serif;
    --font-alt: 'Open Sans', sans-serif;
    
    /* --color-golden: #DCCA87; */
    --color-golden: #03ac0e;
    --color-black: #0C0C0C;
    --color-gray: #545454;
    --color-crimson: #F5EFDB;
    --color-grey: #8d8d8d;
    --color-white: #FFFFFF;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
  }
  
  * {
    font-family: var(--font-alt);
    box-sizing: border-box;

    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: .45rem;
  background: var(--color-white);
}

::-webkit-scrollbar-thumb{
  background: var(--color-golden);

}